# Set up paths and environment for cross compiling for openwrt
export STAGING_DIR=/home/zyzhou/Workspace/repositories/iKuai_Router3/ik_3_18/staging_dir
export TOOLCHAIN_DIR=$STAGING_DIR/toolchain-i386_i486_gcc-4.8-linaro_uClibc-0.9.33.2
export LDCFLAGS=$TOOLCHAIN_DIR/usr/lib
export LD_LIBRARY_PATH=$TOOLCHAIN_DIR/usr/lib
export PATH=$TOOLCHAIN_DIR/bin:$PATH
